#media .contentArea .-list-item {
  height: 125px;
  margin-left: 20px;
  width: 855px;
}
#media .contentsView .-list-item {
  height: 125px;
  margin-left: 10px;
  width: 855px;
}
#media .-list-item.music figure {
  top: 8px;
  left: 0px;
  position: absolute;
  background: url(../images/212_Thumb_Music_ME.png) no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}
#media .-list-item.music figure img {
  height: 100px;
  width: 100px;
}
#media .-list-item.music.folder figure {
  background: url(../images/421_ME_Folder01.png) 50% 50% no-repeat;
  background-size: 94px 113px;
  top: 16px;
}
#media .-list-item.music.folder.plus figure {
  background: url(../images/421_ME_Folder01_Plus.png) 50% 50% no-repeat;
}
#media .-list-item.music.folder.-afd-leaf figure {
  background-size: 106px 125px;
}
#media .-list-item.music.-afd-leaf figure {
  top: 8px;
  left: 8px;
  background-size: 110px 110px;
  width: 110px;
  height: 110px;
}
#media .-list-item.music.-afd-leaf figure img {
  height: 110px;
  width: 110px;
}
#media .-list-item.video figure {
  top: 11px;
  left: 0px;
  position: absolute;
  background: url(../images/212_Thumb_Video_ME.png) no-repeat;
  background-size: 185px 105px;
  width: 185px;
  height: 105px;
}
#media .-list-item.video figure img {
  height: 100px;
  width: 186px;
}
#media .-list-item.video:not(.folder) figure:before {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 32px;
  height: 32px;
  margin: auto;
  background: url(../images/205_REC_Play.png) no-repeat;
}
#media .-list-item.video.folder figure {
  background: url(../images/421_ME_Folder01.png) 50% 50% no-repeat;
  background-size: 94px 113px;
  top: 16px;
}
#media .-list-item.video.folder.plus figure {
  background: url(../images/421_ME_Folder01_Plus.png) 50% 50% no-repeat;
}
#media .-list-item.video.folder.group p {
  padding-left: 234px;
}
#media .-list-item.video.folder.-afd-leaf figure {
  background-size: 106px 125px;
}
#media .-list-item.video.-afd-leaf figure {
  top: 5px;
  left: 5px;
  background-size: 205px 116px;
  width: 205px;
  height: 116px;
}
#media .-list-item.video.-afd-leaf figure img {
  height: 116px;
  width: 205px;
}
#media .-list-item.video p {
  padding-left: 218px;
  width: 588px;
}
#media .-list-item.folder.video.-afd-leaf figure {
  top: 12px;
}
#media .-list-item.folder.group p {
  padding-left: 142px;
}
#media .-list-item.-afd-leaf p {
  color: #000000;
}
#media .-list-item.-afd-leaf p strong {
  color: #000000;
}
#media .-list-item.music.-afd-leaf,
#media .-list-item.video.-afd-leaf {
  background: #2EB2FF;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.749);
  color: #000000;
  margin-left: 10px;
}
#media .-list-item.music.folder.upper figure,
#media .-list-item.video.folder.upper figure {
  background: url(../images/421_ME_Folder01_Goback.png) 50% 50% no-repeat;
  background-size: 94px 113px;
  top: 8px;
}
#media .-list-item.music.folder.upper.-afd-leaf figure,
#media .-list-item.video.folder.upper.-afd-leaf figure {
  background-size: 106px 125px;
  top: 8px;
}
#media .-list-item.music.folder.group:not(.upper) figure:after,
#media .-list-item.video.folder.group:not(.upper) figure:after {
  position: absolute;
  background: url(../images/423_ME_M_Group.png) no-repeat;
  width: 14px;
  height: 100px;
  background-size: 14px 100px;
  left: 100px;
  top: 0px;
  content: "";
}
#media .-list-item.video.folder.group:not(.upper) figure:after {
  left: 186px;
}
#media .-list-item.music.folder.group figure,
#media .-list-item.video.folder.group figure {
  top: 8px;
}
#media .-list-item.music.folder.group.-afd-leaf figure:after,
#media .-list-item.video.folder.group.-afd-leaf figure:after {
  width: 16px;
  height: 110px;
  background-size: 16px 110px;
  left: 110px;
  top: 0px;
  content: "";
}
#media .-list-item.video.folder.group.-afd-leaf figure:after {
  left: 202px;
}
#media .-list-item p {
  line-height: 37px;
  padding-left: 126px;
  width: 680px;
  color: #B9B9B9;
  font-family: "PrismFontL";
  font-size: 20px;
  height: 125px;
  vertical-align: middle;
}
#media .-list-item.music.-afd-leaf p,
#media .-list-item.video.-afd-leaf p {
  margin-left: 10px;
  font-family: "PrismFontB";
}
#media .-list-item.music p strong,
#media .-list-item.video p strong {
  padding-top: 28px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  overflow: hidden;
  padding-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
#media .-list-item.music.folder p strong,
#media .-list-item.video.folder p strong {
  padding-top: 43px;
}
#media .-grid-item.photo .thumbnail {
  height: 118px;
  width: 210px;
  background: url(../images/614_Thumb_Photo.jpg) no-repeat;
  position: absolute;
}
#media .-grid-item.photo .thumbnail:after {
  background-image: url("../images/614_MED_Dim_Thumb01.png");
}
#media .-grid-item.photo:not(.folder).-afd-leaf .thumbnail:after {
  border-bottom: 5px solid #2EB2FF;
  border-top: 5px solid #2EB2FF;
  content: "";
  height: 108px;
  position: absolute;
  width: 210px;
}
#media .-grid-item.photo:not(.folder).-afd-leaf .title {
  top: 85px;
  color: #ffffff;
}
#media .-grid-item.music {
  height: 159px;
  width: 159px;
}
#media .-grid-item.music .thumbnail {
  height: 159px;
  width: 159px;
  background: url(../images/614_Thumb_Music.jpg) no-repeat;
  position: absolute;
}
#media .-grid-item.music .thumbnail:after {
  background-image: url("../images/614_MED_Dim_Thumb02.png");
  content: "";
  height: 159px;
  position: absolute;
  width: 159px;
}
#media .-grid-item.music .title {
  top: 127px;
  width: 147px;
}
#media .-grid-item.music .title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 147px;
}
#media .-grid-item.music .secondary {
  top: 160px;
  width: 147px;
}
#media .-grid-item.music.-afd-leaf .thumbnail:after {
  border-bottom: 57px solid #2EB2FF;
  border-top: 4px solid #2EB2FF;
  content: "";
  height: 98px;
  position: absolute;
  width: 159px;
}
#media .-grid-item.music.-afd-leaf .title {
  top: 106px;
}
#media .-grid-item.music.-afd-leaf .secondary {
  top: 136px;
}
#media .-grid-item.music.folder:before {
  left: 27px;
  top: 41px;
}
#media .-grid-item.folder:before {
  background: url(../images/421_ME_Folder01.png) 50% 50% no-repeat;
  background-size: 106px 78px;
  width: 106px;
  height: 78px;
  left: 52px;
  top: 6px;
  content: "";
  position: absolute;
}
#media .-grid-item.folder.plus:before {
  background: url(../images/421_ME_Folder01_Plus.png) 50% 50% no-repeat;
}
#media .-grid-item.folder.upper:before {
  background: url(../images/421_ME_Folder01_Goback.png) 50% 50% no-repeat;
}
#media .contentArea .-list,
#media .contentsView .-list {
  margin-top: 10px;
}
#media .contentsView .-list-item.music.-afd-leaf,
#media .contentsView .-list-item.video.-afd-leaf {
  margin-left: 0;
}
#media .contentsView .-list-item.music p,
#media .contentsView .-list-item.video p {
  width: 710px;
}
#media .nonblockLoading {
  position: absolute;
  top: 0;
  right: 0;
  width: 93px;
  height: 53px;
  padding: 42px 60px 0 87px;
  background: url(../images/206_Loading_DW.gif) no-repeat 20px 25px, rgba(0, 0, 0, 0.85);
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: PrismFontL;
}
#media .checkbox:not(.upper):after {
  content: "";
  position: absolute;
  width: 57px;
  height: 57px;
  background: url(../images/112_Multi_Check_Off.png) no-repeat;
  z-index: 0;
}
#media .checkbox.checked:not(.upper):after {
  background: url(../images/112_Multi_Check_On.png) no-repeat;
}
#media .checkbox.photo:not(.upper):after {
  top: 32px;
  left: 126px;
}
#media .checkbox.photo.-afd-leaf:not(.upper):after {
  top: 27px;
  left: 133px;
}
#media .checkbox.music:not(.upper):after {
  top: 11px;
  left: 3px;
}
#media .checkbox.music.-afd-leaf:not(.upper):after {
  top: 11px;
  left: 11px;
}
#media .checkbox.folder.music:not(.upper):not(.group):after {
  top: 42px;
  left: -2px;
}
#media .checkbox.folder.music:not(.upper):not(.group) figure {
  left: 38px;
}
#media .checkbox.folder.music.-afd-leaf:not(.upper):not(.group):after {
  top: 42px;
  left: 11px;
}
#media .checkbox.folder.music.-afd-leaf:not(.upper):not(.group) figure {
  left: 48px;
}
#media .checkbox.folder.music.-afd-leaf:not(.upper):not(.group) p {
  padding-left: 156px;
}
#media .checkbox.folder.music:not(.upper):not(.group) p {
  padding-left: 146px;
}
#media .checkbox.folder.video:not(.upper):after {
  top: 44px;
  left: -2px;
}
#media .checkbox.folder.video:not(.upper) figure {
  left: 10px;
}
#media .checkbox.folder.video.-afd-leaf:not(.upper):after {
  top: 44px;
  left: 8px;
}
#media .checkbox.folder.video.-afd-leaf:not(.upper) figure {
  left: 15px;
}
#media .checkbox.video:not(.upper):after {
  top: 14px;
  left: 3px;
}
#media .checkbox.video.-afd-leaf:not(.upper):after {
  top: 8px;
  left: 8px;
}
#media .contextMenu {
  width: 705px;
}
#media .contextMenu:after {
  left: 150px;
}
#media .video .noContent.img {
  background: url(../images/422_ME_V_NoVideo.png) no-repeat 50% 90px;
}
#media .music .noContent.img {
  background: url(../images/423_ME_M_NoMusic.png) no-repeat 50% 90px;
}
#media .photo .noContent.img {
  background: url(../images/425_ME_P_NoPhoto.png) no-repeat 50% 90px;
}
