#*******************************************************************************
#* Platform Dependent Configuration (FDI use only)                                                                *
#*******************************************************************************

#FDI_TYPE = [FDI_TYPE_FACTORY20 | FDI_TYPE_ST | FDI_TYPE_BRCM]
FDI_TYPE = FDI_TYPE_FACTORY20 

#FDI_LOADER_VERION_TYPE = [FDI_VERSION_TYPE_NUMERIC_ONLY | FDI_VERSION_TYPE_NUMERIC_WITH_STRING]
FDI_LOADER_VERION_TYPE = FDI_VERSION_TYPE_NUMERIC_WITH_STRING

#FDI_APPLICATION_VERION_TYPE = [FDI_VERSION_TYPE_NUMERIC_ONLY | FDI_VERSION_TYPE_NUMERIC_WITH_STRING]
FDI_APPLICATION_VERION_TYPE = FDI_VERSION_TYPE_NUMERIC_WITH_STRING

#FDI_MICOM_VERION_TYPE = [FDI_VERSION_TYPE_NUMERIC_ONLY | FDI_VERSION_TYPE_NUMERIC_WITH_STRING]
FDI_MICOM_VERION_TYPE = FDI_VERSION_TYPE_NUMERIC_WITH_STRING

#FDI_VIDEO_ANALOG_OUTPUT = [ANALOG_VIDEO_OUTPUT_CVBS|ANALOG_VIDEO_OUTPUT_RGB|ANALOG_VIDEO_OUTPUT_SVHS|ANALOG_VIDEO_OUTPUT_YPBPR|ANALOG_VIDEO_OUTPUT_YPBPR_DNSCALED]
FDI_VIDEO_ANALOG_OUTPUT = (ANALOG_VIDEO_OUTPUT_CVBS)
 
#DI assigns USB PORT ID from 1. ie, 1,2,3.... and FAI assigns USB PORT ID from 0, 1,2,... FDI convert DI USB port ID to FAI  Port ID
#Current Factory Specification supports only FRON and REAR USB port. it does not support more than thress USB ports 
FDI_NUMBER_OF_USBS=3
FDI_USB_REAR_PORT_ID =1
FDI_USB_FRONT_PORT_ID =FDI_NUMBER_OF_USBS
 
SERIAL_SIZE		= 14
HDCP_SIZE		= 1148
#DTCP_SIZE = 348
#DTCP_SIZE = 368  BRCM Encryption 8 + 348 + 4 + 8 
DTCP_SIZE		= 368		
#*******************************************************************************
#* END                                                                                                                                *
#*******************************************************************************
