###########################################
# LOG LEVEL
# 	P : HxLOG_PRINT
# 	M : HxLOG_MESSAGE
# 	I : HxLOG_INFO
# 	D : HxLOG_DEBUG
# 	T : HxLOG_TRACE
# 	W : HxLOG_WARNING
# 	E : HxLOG_ERROR
# 	C : HxLOG_CRITICAL
#	A : HxLOG_ASSERT
#
# 만약 로그를 보기 싫으면
# keyword	=
#
# 특정 키워드가 포함된 로그를 하이라이트 하고 싶으면
# @highlight	keyword1, keyword2, ...
#
# 로그 함수를 호출한 function과 line을 보고 싶으면
# @trace	on
#
# 특정 프로세스별로 로그 레벨을 주고 싶으면
# @obama	WECAI
# @ipepg	
###########################################

@trace = on
global	= WECA

#opl	= DT
