##########################################      crosscompiler
TOOLCHAIN_PATH  :=$(shell echo $(CONFIG_TOOLCHAIN_PATH) | sed '/^.\"/d')

PATH=$(TOOLCHAIN_PATH)/bin:$(STAGING_DIR)/bin:/bin:/sbin:/usr/bin:/usr/sbin

LINUX_VERSION=2.6.37
LINUX_PATCH_VERSION=2.8

NEXUS_VERSION=1290
NEXUS_TREE=TREE_1250
NEXUS_SECURITY_TREE=SECURITY_TREE_1290