html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}
/*
@font-face {
    font-family: PrismFontB;
    src: url(../font/DejaVuSansCondensed-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: PrismFontL;
    src: url(../font/DejaVuSansCondensed.ttf);
    font-style: normal;
}

/*
 @font-face {
 font-family: Tekton;
 src: url(../font/TektonPro-Bold.otf);
 font-style: normal;
 }
[lang="ar"],[lang="ar"] *{font-family:Tekton !important;}*/
table {
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
/*
body, select, input, button, textarea, button {
    font-size: 28px;
    line-height: 1.231;
    font-family: PrismFontB;
    color: #fff;
}
*/
input,
select {
  vertical-align: middle;
}
em {
  font-style: normal;
}
b {
  font-weight: normal;
}
h1 {
  font-family: PrismFontB;
  color: #e6e6e6;
}
img {
  vertical-align: top;
}
#wrap {
  overflow: hidden;
  position: relative;
  width: 1280px;
  height: 720px;
}
.dim30 {
  opacity: .3;
}
.dim50 {
  opacity: .5;
}
.dim60 {
  opacity: .6;
}
/* delete */
*:focus {
  outline: 1px solid transparent;
}
li:focus,
.scr:focus,
.button:focus {
  outline: 1px solid transparent;
}
